body{
        padding:0;
        margin:0;
        background-color: #f6f6f6;
        font-family: sans-serif;
}
.content{
        position: relative;
	width:80%; 
	height:600px; 
	margin:0 auto;
}
#myDiagramDiv{
	margin-left:180px;
	height:100%; 
	background-color: #fff;
	border:1px solid #f3f3f3;
}
#topBar,#bottomBar{
        position: absolute;
        left:180px;
        right:0;
        height:15px;
        z-index: 5;
        background-color:Azure;
}
#topBar{
        top:0;
}
#bottomBar{
        bottom:0;
}
#leftBar,#rightBar{
        position: absolute;
        width:15px;
        top:0;
        bottom:0;
        z-index: 5;
        background-color:Azure;
}

#leftBar{
    left:180px;    
}
#rightBar{
        right:0;
}
#topBar:hover,#bottomBar:hover,#leftBar:hover,#rightBar:hover{
        background-color:#3077b9;
}
#myPaletteDiv{
	position: absolute;
	width:180px;
	height:600px;
	top:0;
	background-color: #84acb3;
}
#myOverviewDiv{
	position: absolute;
	right:10%;
	top:0; 
	width:200px;
	height:200px;
	margin:20px 20px 0 0;
	background-color: #f3f3f3;
	opacity: 0.5;
	z-index:2;
	overflow: hidden;
}
#edit-content{
        display: none;
}
.mask{
        position: fixed;
        width: 100%;
        top:0;
        bottom:0;
        z-index:3;
        background-color:#000;
        opacity: 0.5;
}
.content-box{
        position: fixed;
        width: 350px;
        height: 100px;
        top:30px;
        left:0;
        right:0;
        margin: 0 auto;
        background-color:#fff;
        z-index: 4;
}
#content-title{
        margin:5px 10px;
}
#content-del{
        margin-left:20px;
        font-size:12px;
}
#content-text{
        display: none;
        width: 88%;
        margin:0 auto;
        font-size:15px;
        height:24px;
}
#content-text:focus{
        background-color:lightblue;
}
#btn-ok,#btn-cancel{
        margin:10px;
        float:right;
}
@media screen and (max-width: 600px) {
        .content{
                width:100%; 
                height:auto;
        }
        #myPaletteDiv{
                position: relative;
                width:100%;
                height:130px;
                left:0;
                background-color: #84acb3;
        }
        #myDiagramDiv{
                margin-left:0;
                width:100%;
                height:600px;
                background-color: #fff;
        }
        #myOverviewDiv{
                top:170px;
        }
}